USE [master]
GO
/****** Object:  Database [FIH_WMS_DB]    Script Date: 2026/3/20 14:06:10 ******/
CREATE DATABASE [FIH_WMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FIH_WMS_DB', FILENAME = N'D:\$Programs\MethodLogic_Lab\FIH_WMS_System\SQL\FIH_WMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FIH_WMS_DB_log', FILENAME = N'D:\$Programs\MethodLogic_Lab\FIH_WMS_System\SQL\FIH_WMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FIH_WMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FIH_WMS_DB]
GO
/****** Object:  Table [dbo].[AgvTask]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgvTask](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskNo] [varchar](50) NOT NULL,
	[TaskType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[GoodsCode] [varchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
	[FromLocation] [varchar](50) NULL,
	[ToLocation] [varchar](50) NULL,
	[CreateTime] [datetime] NOT NULL,
	[FinishTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Spec] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[Category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Area] [nvarchar](50) NULL,
	[IsUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodsCode] [varchar](50) NOT NULL,
	[LocationCode] [varchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
	[BatchNo] [varchar](50) NULL,
	[ProduceDate] [date] NULL,
	[InStockTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockRecord]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockRecord](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](50) NULL,
	[RecordType] [int] NOT NULL,
	[GoodsCode] [varchar](50) NOT NULL,
	[LocationCode] [varchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
	[BatchNo] [varchar](50) NULL,
	[OperateTime] [datetime] NOT NULL,
	[Operator] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WmsOrder]    Script Date: 2026/3/20 14:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WmsOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNo] [varchar](50) NOT NULL,
	[OrderType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AgvTask] ON 

INSERT [dbo].[AgvTask] ([Id], [TaskNo], [TaskType], [Status], [GoodsCode], [Qty], [FromLocation], [ToLocation], [CreateTime], [FinishTime]) VALUES (1, N'AGV-20260319140746', 1, 3, N'G001', 1, N'A-01-02', N'产线接驳口1', CAST(N'2026-03-19T14:07:46.360' AS DateTime), CAST(N'2026-03-19T14:08:27.083' AS DateTime))
INSERT [dbo].[AgvTask] ([Id], [TaskNo], [TaskType], [Status], [GoodsCode], [Qty], [FromLocation], [ToLocation], [CreateTime], [FinishTime]) VALUES (2, N'AGV-20260319170457', 1, 0, N'G001', 20, N'A-01-02', N'产线接驳口1', CAST(N'2026-03-19T17:04:57.830' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[AgvTask] OFF
GO
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([Id], [Code], [Name], [Spec], [Price], [Category]) VALUES (1, N'G001', N'原材料A', N'50kg/桶', CAST(120.50 AS Decimal(18, 2)), N'化工原料')
INSERT [dbo].[Goods] ([Id], [Code], [Name], [Spec], [Price], [Category]) VALUES (2, N'G002', N'成品B', N'100个/箱', CAST(300.00 AS Decimal(18, 2)), N'电子产品')
SET IDENTITY_INSERT [dbo].[Goods] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [Code], [Area], [IsUsed]) VALUES (1, N'A-01-01', N'A区', 1)
INSERT [dbo].[Location] ([Id], [Code], [Area], [IsUsed]) VALUES (2, N'A-01-02', N'A区', 1)
INSERT [dbo].[Location] ([Id], [Code], [Area], [IsUsed]) VALUES (3, N'B-01-01', N'B区', 1)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([Id], [GoodsCode], [LocationCode], [Qty], [BatchNo], [ProduceDate], [InStockTime]) VALUES (2, N'G002', N'B-01-01', 525, N'BATCH-20260310', CAST(N'2026-03-10' AS Date), CAST(N'2026-03-18T15:04:20.520' AS DateTime))
INSERT [dbo].[Stock] ([Id], [GoodsCode], [LocationCode], [Qty], [BatchNo], [ProduceDate], [InStockTime]) VALUES (3, N'G001', N'A-01-01', 10300, N'BATCH-20260318', NULL, CAST(N'2026-03-18T15:25:58.883' AS DateTime))
INSERT [dbo].[Stock] ([Id], [GoodsCode], [LocationCode], [Qty], [BatchNo], [ProduceDate], [InStockTime]) VALUES (5, N'G001', N'A-01-02', 180, N'BATCH-20260319', NULL, CAST(N'2026-03-19T17:03:04.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[StockRecord] ON 

INSERT [dbo].[StockRecord] ([Id], [OrderNo], [RecordType], [GoodsCode], [LocationCode], [Qty], [BatchNo], [OperateTime], [Operator]) VALUES (1, N'AUTO-IN-001', 0, N'G001', N'A-01-01', 100, N'BATCH-20260318', CAST(N'2026-03-18T15:25:58.897' AS DateTime), N'admin')
INSERT [dbo].[StockRecord] ([Id], [OrderNo], [RecordType], [GoodsCode], [LocationCode], [Qty], [BatchNo], [OperateTime], [Operator]) VALUES (2, N'AUTO-OUT-001', 1, N'G001', N'A-01-01', 60, N'BATCH-20260301', CAST(N'2026-03-18T15:26:36.213' AS DateTime), N'admin')
INSERT [dbo].[StockRecord] ([Id], [OrderNo], [RecordType], [GoodsCode], [LocationCode], [Qty], [BatchNo], [OperateTime], [Operator]) VALUES (3, N'AUTO-IN-001', 0, N'G001', N'A-01-01', 100, N'BATCH-20260318', CAST(N'2026-03-18T15:30:02.840' AS DateTime), N'admin')
SET IDENTITY_INSERT [dbo].[StockRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (1, N'admin', N'123456', N'管理员')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (2, N't', N'111', N'管理员')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (3, N'user0', N'123', N'操作员')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AgvTask__7C6D851A169BCAC2]    Script Date: 2026/3/20 14:06:10 ******/
ALTER TABLE [dbo].[AgvTask] ADD UNIQUE NONCLUSTERED 
(
	[TaskNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Goods__A25C5AA711E985BE]    Script Date: 2026/3/20 14:06:10 ******/
ALTER TABLE [dbo].[Goods] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__A25C5AA77E651B25]    Script Date: 2026/3/20 14:06:10 ******/
ALTER TABLE [dbo].[Location] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E49EE87CFC]    Script Date: 2026/3/20 14:06:10 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__WmsOrder__C3907C759C908073]    Script Date: 2026/3/20 14:06:10 ******/
ALTER TABLE [dbo].[WmsOrder] ADD UNIQUE NONCLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AgvTask] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[AgvTask] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT (getdate()) FOR [InStockTime]
GO
ALTER TABLE [dbo].[StockRecord] ADD  DEFAULT (getdate()) FOR [OperateTime]
GO
ALTER TABLE [dbo].[StockRecord] ADD  DEFAULT ('admin') FOR [Operator]
GO
ALTER TABLE [dbo].[WmsOrder] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[WmsOrder] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
USE [master]
GO
